body {
    background-color: #F5F0E6; /* Warm Sand */
}

.navbar {
    background-color: #BFA78E;
}

#site-header.header {
   background-color: #BFA78E; 
}

.nav-link {
    color: #1f1e1d
}

.navbar-brand {
    color: #1f1e1d
}

.navbar-brand svg {
  height: 3em;
}

button:hover {
    background-color: #C9745D; /* Terracotta */
    color: #F5F0E6; /* Light text for contrast */
}

.site-footer, .footer, footer {
  text-align: center;
}

.cta-bg .bg-black {
  background-color: #D7C5AF !important;
}

.cta-bg .text-gray-100{
    color: #000000; /* zwarte tekst */
}


